/* from solution code */

.Deck {
  text-align: center;
}

.Deck-btn {
  padding: 15px;
  background-color: black;
  color: white;
  border-radius: 8px;
  border: none;
  margin: 0 10px;
}

.Deck-btn:hover {
    cursor: pointer;
}

.Deck-cardArea {
  margin-top: 80px;
}